# ---- .NET ----
bin/
obj/
*.user
.vs/
*.suo
TestResults/
[Cc]overage/
*.trx

# ---- Node / Angular ----
node_modules/
dist/
out-tsc/
.angular/
coverage/
npm-debug.log*

# ---- OS ----
.DS_Store
Thumbs.db

# ---- Env ----
*.env.local
